:root {
  // set root/global variables here:
  // example ...
  // --text-main: green;
}

html {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  body {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    // fixed width and no scrollbars
    width: 1024px;
    overflow-x: hidden;
    > div {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      > main {
        flex: 1 1 auto;
      }
    }
  }
}

.flex {
  display: flex;
}
